# Algorithms tasks
Algorithms/.vs/*
Algorithms/**/bin/*
Algorithms/**/obj/*
# ArtificialIntelligence tasks
ArtificialIntelligence/.vs/*
ArtificialIntelligence/**/bin/*
ArtificialIntelligence/**/obj/*
# FunctionalProgramming tasks
FunctionalProgramming/.vs/*
FunctionalProgramming/**/bin/*
FunctionalProgramming/**/obj/*
# Cpp
Cpp/build