# common
*.fsproj.user
# ArtificialIntelligence tasks
ArtificialIntelligence/.vs/*
ArtificialIntelligence/**/bin/*
ArtificialIntelligence/**/obj/*
# ProblemSolving tasks
ProblemSolving/.vs/*
ProblemSolving/**/bin/*
ProblemSolving/**/obj/*
# Cpp
Cpp/build