# ArtificialIntelligence tasks
ArtificialIntelligence/.vs/*
ArtificialIntelligence/BotSavesPrincess/bin/*
ArtificialIntelligence/BotSavesPrincess/obj/*
# FunctionalProgramming tasks
FunctionalProgramming/.vs/*
FunctionalProgramming/AreaVolumeCalculation/bin/*
FunctionalProgramming/AreaVolumeCalculation/obj/*
FunctionalProgramming/BrainfuckInterpreter/bin/*
FunctionalProgramming/BrainfuckInterpreter/obj/*
FunctionalProgramming/CaptainPrime/bin/*
FunctionalProgramming/CaptainPrime/obj/*
FunctionalProgramming/ColorsSequence/bin/*
FunctionalProgramming/ColorsSequence/obj/*
FunctionalProgramming/ComputingFibonacci/bin/*
FunctionalProgramming/ComputingFibonacci/obj/*
FunctionalProgramming/ComputingGCD/bin/*
FunctionalProgramming/ComputingGCD/obj/*
FunctionalProgramming/EvaluatingExp/bin/*
FunctionalProgramming/EvaluatingExp/obj/*
FunctionalProgramming/FilterArray/bin/*
FunctionalProgramming/FilterArray/obj/*
FunctionalProgramming/FilterElements/bin/*
FunctionalProgramming/FilterElements/obj/*
FunctionalProgramming/FilterListByPosition/bin/*
FunctionalProgramming/FilterListByPosition/obj/*
FunctionalProgramming/FunctionsOrNot/bin/*
FunctionalProgramming/FunctionsOrNot/obj/*
FunctionalProgramming/ListReplication/bin/*
FunctionalProgramming/ListReplication/obj/*
FunctionalProgramming/MatrixRotation/bin/*
FunctionalProgramming/MatrixRotation/obj/*
FunctionalProgramming/MissingNumbers/bin/*
FunctionalProgramming/MissingNumbers/obj/*
FunctionalProgramming/PascalTriangle/bin/*
FunctionalProgramming/PascalTriangle/obj/*
FunctionalProgramming/PolygonAreaCalculation/bin/*
FunctionalProgramming/PolygonAreaCalculation/obj/*
FunctionalProgramming/PolygonPerimeterCalculation/bin/*
FunctionalProgramming/PolygonPerimeterCalculation/obj/*
FunctionalProgramming/PrefixCompression/bin/*
FunctionalProgramming/PrefixCompression/obj/*
FunctionalProgramming/RecursiveTrees/bin/*
FunctionalProgramming/RecursiveTrees/obj/*
FunctionalProgramming/RecursiveTreesCS/bin/*
FunctionalProgramming/RecursiveTreesCS/obj/*
FunctionalProgramming/RemoveDuplicates/bin/*
FunctionalProgramming/RemoveDuplicates/obj/*
FunctionalProgramming/RotateString/bin/*
FunctionalProgramming/RotateString/obj/*
FunctionalProgramming/SierpinskiTriangles/bin/*
FunctionalProgramming/SierpinskiTriangles/obj/*
FunctionalProgramming/StringCompression/bin/*
FunctionalProgramming/StringCompression/obj/*
FunctionalProgramming/StringMingling/bin/*
FunctionalProgramming/StringMingling/obj/*
FunctionalProgramming/StringPermute/bin/*
FunctionalProgramming/StringPermute/obj/*
FunctionalProgramming/StringReductions/bin/*
FunctionalProgramming/StringReductions/obj/*
FunctionalProgramming/SuperDigit/bin/*
FunctionalProgramming/SuperDigit/obj/*
FunctionalProgramming/TreeManager/bin/*
FunctionalProgramming/TreeManager/obj/*